.Wrapper {
	&.clone {
		margin-left: 30px;
		margin-top: 5px;
		display: inline-block;
		pointer-events: none;

		.TreeItem {
			border-radius: 4px;
			box-shadow: 0px 15px 15px 0 rgba(34, 33, 81, 0.1);
		}
	}

	&.ghost {
		opacity: 0.5;

		.TreeItem {
		}

		.TreeItem > * {
			box-shadow: none;
			background-color: transparent;
		}
	}
}
