.Wrapper {
	&.clone {
		margin-left: 30px;
		margin-top: 5px;
		display: inline-block;
		pointer-events: none;

		.TreeItem {
			border-radius: 4px;
			box-shadow: 0px 15px 15px 0 rgba(34, 33, 81, 0.1);
		}
	}

	&.ghost {
		opacity: 0.5;

		.TreeItem {
		}

		.TreeItem > * {
			box-shadow: none;
			background-color: transparent;
		}
	}
}

.disableInteraction {
	pointer-events: none;
}
/*
* 
* STABLE CODE
* 

li - wrapper
	div - treeitem
		button - action tree item collapse
			svg
	    span - treeitem text
	    button - action
		    svg
*/

.Wrapper {
	list-style: none;
	padding-left: var(--spacing);
}

.TreeItem {
	display: flex;
	align-items: center;
	color: theme(colors[slate].50);

	&:hover {
		background-color: theme(colors[slate].900);
	}
}

.Text {
	flex-grow: 1;
	padding: 0 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Collapse {
	svg {
		transition: transform 200ms ease;
	}

	&.collapsed svg {
		transform: rotate(-90deg);
	}
}
